body {
  background-image: linear-gradient(
    to right,
    #8c5214,
    #a96318,
    #b47320,
    #d4a237,
    #f5d24f
  ) !important;
  margin: 0;
  display: flex;
  flex-direction: center;
}

.form {
  width: 50%;
  height: 650px;
  background: #e6e6e6;
  border-radius: 50px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 340px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 100%;
  color: #b47320;
  border-bottom: 3px solid #b47320;
}
input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #b47320;
}
select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #b47320;
  color: #78788c;
}
input:focus {
  border-bottom: 2px solid #78788c;
}
p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 20px;
  color: #b47320;
}
button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #b47320;
  background: 0;
  color: #b47320;
  cursor: pointer;
  transition: all 0.5s;
}
button:hover {
  background: #b47320;
  color: white;
}
div {
  content: "Hi";
  position: absolute;
  bottom: -1px;
  right: -20px;
  background: #50505a;
  color: #fff;
  width: 320px;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px #000;
}
span {
  margin: 0 5px 0 15px;
}

@media (max-width: 980px) and (min-width:390px) {
  .form {
    width: 70%;
    height: 720px;
    background: #e6e6e6;
    border-radius: 50px;
    box-shadow: 0 0 40px -10px #000;
    /* margin: calc(80vh - 340px) auto;
    padding: 20px 30px;*/
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    position: relative;
  }

  p::before {
    font-size: 30px;
  }

  h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 100%;
    color: #b47320;
    border-bottom: 3px solid #b47320;
    font-size: 50px;
  }

  input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s;
    border-bottom: 2px solid #b47320;
    font-size: larger;
  }

  button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: "Montserrat", sans-serif;
    border: 2px solid #b47320;
    background: 0;
    color: #b47320;
    cursor: pointer;
    transition: all 0.5s;
    font-size: larger;
  }
}

@media (max-width: 390px  ) {
  .form {
    width: 90%;
    height: 1046px;
    background: #e6e6e6;
    border-radius: 62px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(40vh - 324px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    position: relative;
  }

}