html, body{
    display: flex;
    flex-direction: column;
    height:100vh;
    margin: 0;
    justify-content: center;
}

.cuadrado {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  background-color: bisque;
  width: 90%;
  height: 65%;
  border-radius: 10px;
}



